footer.padding_4x
  - console.log(user);
  .flex
    section.flex-content.padding_1x
      h3 Top Products
      a(href='/#') Home
      a(href='/#main') View Tours
      if user
        a(href='/me') Account
        a(href='/me') Bookings
    section.flex-content.padding_1x
      h3 Quick Links
      a(href='/#') Home
      a(href='/#main') View Tours
      if user
        a(href='/me') Account
    section.flex-content.padding_1x
      h3 Resources
      a(href='https://unsplash.com/s/photos/travel?license=free&orientation=landscape' target="_blank") Images Used From
      a(href='https://dribbble.com/shots/23216007-Tour-booking-website-design' target="_blank") Design Referrence
      a(href='https://nodejs.org/dist/latest-v21.x/docs/api/' target="_blank") Learn Node
    section.flex-content.padding_1x
      h3 My Socials
      a(href='https://twitter.com/ankurchunekar' target="_blank") Twitter
      a(href='https://linkedin.com/in/ankurchunekar' target="_blank") Linkedin
      a(href='https://github.com/AnkurChunekar' target="_blank") Github
      a(href='https://ankurchunekar.netlify.app' target="_blank") Portfolio
  .flex
    section.copyright.flex-content.padding_1x
      p.madeby Made with lots of Hard Work 💪🏼 by 
        a(href='https://ankurchunekar.netlify.app' target="_blank") Ankur Chunekar
      p.shoutout 
        | Just to clarify, this is not a real travel platform! This is a project I built for learning new tech. Images are used from  
        a(href='https://unsplash.com/s/photos/travel?license=free&orientation=landscape' target="_blank") Unsplash
        |  and Design is inspired from this 
        a(href='https://dribbble.com/shots/23216007-Tour-booking-website-design' target="_blank") amazing creator on Dribble.
