header.header
  nav.nav.nav--tours 
    a.nav__el(href='/') All Tours 

  .header__logo
    img(src='/img/logo-white.png' alt='Natours logo')

  nav.nav.nav--user
    if user
      a#logout.nav__el(href='#') Log out
      a.nav__el(href='/me')
        - const usersName = user.name.split(' ')[0];
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`${usersName}'s photo`)
        span= user.name.split(' ')[0]
    else
      a.nav__el.nav__el--cta(href="/login") Log in
      a.nav__el.nav__el--cta(href="#") Sign up
