doctype html
html 
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Natours | #{title}
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    link(rel='short cut icon' href='img/favicon.png')

  body 
    // HEADER 
    include _header

    //- - const x = 54;
    //- p This is the what we get if we multiple #{x} with 4, ie #{x * 4}

    // SECTION
    block content
      h1 Placeholder Heading

    // FOOTER
    include _footer

