doctype html
html 
  head
    title Nators
    link(rel='stylesheet' href='css/style.css')
    link(rel='short cut icon' href='img/favicon.png')
  
  body 
    h1 The Park Camper
    p This is just a random page
