doctype html
html 
  head
    block head 
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')

      title Natours | #{title}
      link(rel='stylesheet' href='/css/style.css')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,500,600,700')
      link(rel='short cut icon' href='/img/favicon.png')

      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet")

  body 
    // HEADER 
    include _header

    //- - const x = 54;
    //- p This is the what we get if we multiple #{x} with 4, ie #{x * 4}

    // SECTION
    block content
      h1 Placeholder Heading

    // FOOTER
    include _footer
    script(src="/js/dist/bundle.js") 

