doctype html
html 
  head
    title Nators
    link(rel='stylesheet' href='css/style.css')
    link(rel='short cut icon' href='img/favicon.png')
  
  body 
    h1= tour.toUpperCase()
    
    - const x = 54;
    p This is the what we get if we multiple #{x} with 4, ie #{x * 4}
